<section class="who_we_are_area" id="about">
  <div class="container">
    <div class="row who_we_inner">
      <div class="col-md-5">
        <div class="who_we_left_content">
          <div class="main_w_title">
            <h2>
              Who <br class="title_br" />
              Are We?
            </h2>
          </div>
          <p>
            SSP Engineering & Consulting is a consulting firm based in the Houston Metropolitan area. Professional Engineering (PE) licenses in 30 states. Registered company in more than 18 states.
          </p>
          <p>
            We have highly qualified staff and High Value Engineering (HVE) team. SSP can handle all your design, engineering and consulting needs. We focus on structural and mechanical engineering in oil, gas, petrochemical and other industrial facilities
          </p>
          <p>
            We have a capacity to handle both onshore and offshore projects.
          </p>
          <div class="border_bar"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="who_we_image">
          <img src="../../../assets/images/about_us_bg.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
