<section class="who_we_are_area" id="about">
  <div class="container">
    <div class="row who_we_inner">
      <div class="col-md-5">
        <div class="who_we_left_content">
          <div class="main_w_title">
            <h2>
              Who <br class="title_br" />
              Are We?
            </h2>
          </div>
          <p>
            SSP Engineering & Consulting is a consulting firm, established in 2009, based in the Houston Metropolitan area. We provide expertise in Oil, Gas and Petrochemical facilities, Municipal and District Engineering, Construction Services, Commercial and Residential Engineering.
          </p>
          <p>
            We have highly qualified staff and High Value Engineering (HVE) team with Professional Engineering (PE) licenses in 30 states and company registered in more than 18 states.
          </p>
          <p>
            Our services include Structural and Mechanical engineering in oil and gas, Architectural, Civil and Structural Design, Project Management, Engineering Design, Surveying and Consulting services in municipal and commercial sector.
          </p>
          <p>
            SSP handles onshore/ offshore projects with dedication towards customer's needs and thrives on result-oriented approach to finish off project with a smile on customer's face.
          </p>
          <div class="border_bar"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="who_we_image">
          <img src="../../../assets/images/about_us_bg.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
