<div class="dashboard-container" [class.dashboard-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="secondary" class="dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/images/SmallLogo.png" alt="" />
    <p>ADMIN</p>
  </mat-toolbar>

  <mat-sidenav-container class="dashboard-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened>
      <mat-nav-list>
        <a *ngIf="userAuthStatus" mat-list-item [routerLink]="[{ outlets: { sidebar: ['viewProjects'] } }]" mat-list-item>View Projects</a>
        <a *ngIf="userAuthStatus" mat-list-item [routerLink]="[{ outlets: { sidebar: ['addProjects'] } }]" aria-selected mat-list-item>Add Projects</a>
        <a *ngIf="userAuthStatus" mat-list-item [routerLink]="[{ outlets: { sidebar: ['viewServices'] } }]" mat-list-item mat-list-item>View Services</a>
        <a *ngIf="userAuthStatus" mat-list-item [routerLink]="[{ outlets: { sidebar: ['addServices'] } }]" aria-selected mat-list-item>Add Services</a>
        <a *ngIf="userAuthStatus" mat-list-item [routerLink]="[{ outlets: { sidebar: ['timesheet'] } }]" aria-selected mat-list-item>Timesheet</a>
        <a *ngIf="userAuthStatus" mat-list-item [routerLink]="[{ outlets: { sidebar: ['logout'] } }]">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="dashboard-content-container">
        <router-outlet name="sidebar"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
