<mat-card>
  <mat-grid-list cols="2" row="1">
    <mat-grid-tile class="mat-grid-tile">
      <app-upload-file (projectImageUploaded)="setImageUrl($event)"></app-upload-file>    
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <mat-card class="add-project-details">
        <form class="add-project-form" [formGroup]="addProjectForm" autocomplete="off" (ngSubmit)="onSubmit()" novalidate>
          <mat-list>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input matInput placeholder="Project Title*" formControlName="title" type="text" name="title" />
                <mat-hint class="alert">
                  <app-form-validator [control]="addProjectForm.controls.title"></app-form-validator>
                </mat-hint>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Project Description*" formControlName="description" type="text" name="description"></textarea>
                <mat-hint class="alert">
                  <app-form-validator [control]="addProjectForm.controls.description"></app-form-validator>
                </mat-hint>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>
              <mat-form-field class="full-width">
                <input matInput placeholder="Project Image URL*" formControlName="imageSrc" type="text" name="imageSrc" />
                <mat-hint class="alert">
                  <app-form-validator [control]="addProjectForm.controls.imageSrc"></app-form-validator>
                </mat-hint>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>
              <button mat-raised-button color="primary" mat-raised-button type="submit" [disabled]="addProjectForm.invalid" class="add-project-button">Add Project</button>
              <button mat-raised-button type="button" id="resetformButton" *ngIf="addProjectForm.touched || addProjectForm.dirty" (click)="resetForm()">Reset</button>
            </mat-list-item>
          </mat-list>
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>