<section class="our_team_area">
  <div class="container">
    <div class="team_slider owl-carousel">
      <div class="item">
        <a href="/industrial">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/parallex1.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/industrial">
                <h4>Industrial Oil and Gas</h4>
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/municipal">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/services/municipal.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/municipal">
                <h4>Municipal</h4>
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="/commercial">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/services/commerical.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/commercial">
                <h4>Commercial</h4>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>