p {
    font-family: Lato;
  }
  
  table {
    overflow: auto;
    width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
  }
  
  /* .mat-table {
    overflow: auto;
    max-height: 500px;
  } */
  
  
  .mat-column-project{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center
  }
  
  .mat-column-mon{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
  }
  
  .mat-column-tue{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
  } 
  
  .mat-column-wed{
    border-right: 1px solid grey;
  text-align: center;
  align-self: stretch;
  }
  
  .mat-column-thru{
    border-right: 1px solid grey;
    text-align: center;
    align-self: stretch;
  }
  
  .mat-column-fri{
    border-right: 1px solid grey;
    text-align: center;
    align-self: stretch;
  }
  
  .mat-column-TotalHours{
      /* border-left:1px solid grey;  */
    /* border-right: 1px solid grey; */
    text-align: center;
    align-self: stretch;
  }
  
  .mat-column-weight{
     align-self: stretch;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  
  }
  
  .example-full-width {
    width: 100%;
  }

  .boldClass {
    font-weight: 700;
    text-align: center;
  }

  td {
    text-align: center;
  }