<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="mat-elevation-z8 customWidth">
  <div>   

    <!--  Add Project button
                View Older timesheet and edit -->
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Select the Week</mat-label>
    <mat-select [(ngModel)]="selectedWeek"  required>
      <mat-option *ngFor="let week of totalWeeks" [value]="week">{{week.startDate}}- {{week.endDate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select User</mat-label>
    <mat-select [(ngModel)]="selectedUser" (selectionChange)="OnchangeOfUser()" required>
      <mat-option *ngFor="let user of listofUser" [value]="user.username">{{user.firstName}}  {{user.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>


  <table border="1" style="width:100%" *ngIf="parentTimesheetForm.selectedWeek">
    <thead>
      <tr>
        <th style="width: 25%; text-align:center">Project </th>
        <th style="width: 8%; text-align:center" *ngFor="let day of days">{{day}}</th>
        <th style="width: 15%; text-align:center">Total Hours</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let project of parentTimesheetForm.projects">
        <td>
          <mat-label>{{getProjectName(project.projectName)}}</mat-label>
        </td>

        <td>
          <mat-label>{{project.day1.hour}}</mat-label>
          <mat-label>{{project.day1.comment}}</mat-label>
        </td>

        <td>
          <mat-label>{{project.day2.hour}}</mat-label>
          <mat-label>{{project.day2.comment}}</mat-label>
        </td>
        <td>
          <mat-label>{{project.day3.hour}}</mat-label>
          <mat-label>{{project.day3.comment}}</mat-label>
        </td>

        <td>
          <mat-label>{{project.day4.hour}}</mat-label>
          <mat-label>{{project.day4.comment}}</mat-label>
        </td>

        <td>
          <mat-label>{{project.day5.hour}}</mat-label>
          <mat-label>{{project.day5.comment}}</mat-label>
        </td>
        <td>
          <mat-label>{{project.day6.hour}}</mat-label>
          <mat-label>{{project.day6.comment}}</mat-label>
        </td>

        <td>
          <mat-label>{{project.day7.hour}}</mat-label>
          <mat-label>{{project.day7.comment}}</mat-label>
        </td>

        <td>
          <span style="margin:15px">{{project.totalHour}}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="divider"></div>


</div>