p {
    font-family: Lato;
  }
  
  table {
    overflow: auto;
    width: 30%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
  }
  .customWidth{
    width: 1833px;
  }
  
  .transparent .mat-dialog-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.0);
}
  
  
/*   .mat-column-project{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center
  } */
  
  
  .mat-column-weight{
     align-self: stretch;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    margin: 15px;
  
  }
  
  .example-full-width {
    width: 100%;
  }

  .divider{
    width:25px;
    height:auto;
    display:inline-block;
}