<app-navigation></app-navigation>
<section class="work_area">
  <div class="container">
    <div class="work_content">
      <div class="main_c_title">
        <h2>work <br class="title_br" />with us</h2>
      </div>
    </div>
  </div>
</section>
<section class="service_single_area">
  <div class="container">
    <div class="service_single_inner">
      <div class="row s_text_inner">
        <div class="col-md-12">
          <div class="left_service_desc">
            <h4 class="project_title">Civil Engineer - 1</h4>
            <button mat-button
              (click)="openDialog('Civil Engineer', 'Please email your resume at carrers@sspeng.com')">See More</button>
          </div>
          <div class="left_service_desc">
            <h4 class="project_title">Staff Structure Engineer - 1</h4>
            <button mat-button
              (click)="openDialog('Staff Structure Engineer','Please email your resume at carrers@sspeng.com')">See
              More</button>
          </div>
          <div class="left_service_desc">
            <h4 class="project_title">Intern Civil Structure Engineer - 1</h4>
            <button mat-button
              (click)="openDialog('Intern Civil Structure Engineer','Please email your resume at carrers@sspeng.com')">See
              More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact></app-contact>
<app-copyright></app-copyright>