/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}
/* Main white title css
============================================================================================ */
.main_w_title h2 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: #31353d;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.main_w_title h2:before {
  content: "";
  width: 170px;
  height: 100px;
  border: 6px solid #f2f2f2;
  position: absolute;
  left: 47px;
  bottom: 10px;
  z-index: -1;
}

.main_w_title h6 {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  color: #cb3d39;
  font-weight: bold;
  padding-top: 12px;
}

/* End Main white title css
============================================================================================ */
/* Main Black title css
============================================================================================ */
.main_b_title h2 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: #e8e8e8;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.main_b_title h2:before {
  content: "";
  width: 170px;
  height: 100px;
  border: 6px solid #292c31;
  position: absolute;
  left: 47px;
  bottom: 10px;
  z-index: -1;
}

.main_b_title h6 {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  color: #cb3d39;
  font-weight: bold;
  padding-top: 12px;
}

/* End Main white title css
============================================================================================ */
/* Main white center title css
============================================================================================ */
.main_c_title {
  text-align: center;
}

.main_c_title h2 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: #e8e8e8;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.main_c_title h2:before {
  content: "";
  width: 170px;
  height: 100px;
  border: 6px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10px;
  z-index: -1;
}

.main_c_title h6 {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  color: #cb3d39;
  font-weight: bold;
  padding-top: 12px;
}

.main_c_b_title {
  text-align: center;
}

.main_c_b_title h2 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: #31353d;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.main_c_b_title h2:before {
  content: "";
  width: 170px;
  height: 100px;
  border: 6px solid #ebebeb;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10px;
  z-index: -1;
}

.main_c_b_title h6 {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  color: #cb3d39;
  font-weight: bold;
  padding-top: 12px;
}

/* End Main white title css
============================================================================================ */
/* Main white center title css
============================================================================================ */
.main_b_r_title {
  text-align: right;
}

.main_b_r_title h2 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: #31353d;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.main_b_r_title h2:before {
  content: "";
  width: 170px;
  height: 100px;
  border: 6px solid #ebebeb;
  position: absolute;
  right: 36px;
  bottom: 10px;
  z-index: -1;
}

.main_b_r_title h6 {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  color: #cb3d39;
  font-weight: bold;
  padding-top: 12px;
}

/* End Main white title css
============================================================================================ */
/* Our title css
============================================================================================ */
.out_title {
  font-size: 25px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #31353d;
  text-align: center;
}

/* End Our title css */