.main_header_area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 25;
}

.main_header_area + section,
.main_header_area + div,
.main_header_area + .row {
  margin-top: 152px;
}

.main_header_area.navbar_fixed .main_menu_area {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.main_header_area.navbar_fixed .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li a {
  color: #31353d;
}

.main_header_area.navbar_fixed .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.active a {
  color: #cb3d39;
}

.main_menu_area {
  background: #fff;
  z-index: 30;
}

.main_menu_area .navbar.navbar-default {
  background: transparent;
  margin-bottom: 0px;
  border: none;
}

.main_menu_area .navbar.navbar-default .navbar-header .navbar-brand {
  line-height: 45px;
  display: inline-block;
  padding: 0px;
  height: 100%;
}

.main_menu_area .navbar.navbar-default .navbar-header .navbar-brand img {
  max-height: 80px;
  line-height: 40px;
  display: inline-block;
}

.main_menu_area .navbar.navbar-default .navbar-header .navbar-brand img + img {
  display: none;
}


.cover {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 23%;
  height: 100%;
  color: rgb(250, 255, 255,1);
  text-align: right;
  transition: all 1s linear;
}

.cover:hover {
  background-color: rgba(158, 25, 25, 0.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li {
  margin-right: 28px;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li a {
  padding: 0px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #31353d;
  line-height: 80px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  background: transparent;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.icon_search {
  margin-right: 0px;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.icon_search a {
  position: relative;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.icon_search a:before {
  content: "02";
  background: #cb3d39;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  position: absolute;
  right: -14px;
  top: 40%;
  line-height: 21px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: normal;
  text-align: center;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li:hover a,
.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.active a {
  color: #cb3d39;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu {
  position: relative;
}

@media (min-width: 992px) {
  .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -40px;
    min-width: 232px;
    background: #eeeeee;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    padding: 0px;
    border: none;
    border-radius: 0px;
  }
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu .dropdown-menu li {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #cbcbcb;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu .dropdown-menu li a {
  line-height: 45px;
  color: #494848;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 0px 30px;
  text-transform: capitalize;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  display: block;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu .dropdown-menu li:last-child {
  border-bottom: none;
}

.main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu .dropdown-menu li:hover a {
  background: #cb3d39;
  color: #fff;
}

@media (min-width: 992px) {
  .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.submenu:hover .dropdown-menu {
    left: 0px;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .main_menu_area .navbar.navbar-default .navbar-header .navbar-brand {
    line-height: 70px;
    display: block;
    float: none;
  }
}

.transparent_menu .main_menu_area {
  background: transparent;
}

.transparent_menu .main_menu_area .navbar.navbar-default {
  border-bottom: 1px solid rgba(186, 186, 186, 0.4);
  border-radius: 0px;
}

.transparent_menu .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li a {
  color: #fff;
}

.transparent_menu .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li:hover > a,
.transparent_menu .main_menu_area .navbar.navbar-default .nav.navbar-nav.navbar-right li.active > a {
  color: #cb3d39;
}

.transparent_menu + section,
.transparent_menu + div,
.transparent_menu + .row {
  margin-top: 0px;
}

#logoutLink:hover {
  cursor: pointer;
}
